body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

.topbar {
    background: #d32f2f;
    color: white;
    padding: 15px;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background: #d32f2f;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}